body {
    font-family: Arial, sans-serif;
    margin: 15px 200px;
    margin-bottom: 50px;
}

.toast-message {
    position: fixed;
    top: 20px;
    right: -300px;
    background: #198754;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    transition: all 0.4s ease;
    z-index: 9999;
}

.toast-message.show {
    right: 20px;
}

.profile {
    border: 1px solid #ffffff;
    border-radius: 5%;
    overflow: hidden;
}

.name-font {
    font-family: arial black;
    font-size: 24px;
}

.dark-mode {
    background-color: #1c1c1c;
    color: #fff;
}

.dark-mode .card {
    background-color: #222;
    color: #fff;
}

.dark-mode .btn-dark {
    background-color: #444;
}

.dark-mode .modal-content {
    background-color: #222;
    color: #fff;
}

.dark-mode .card-project {
    background-color: #444;
    color: #fff;
}

.dark-mode .name-font {
    font-family: arial black;
    font-size: 24px;
}

#imageViewer {
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    max-width: 90vw;
    max-height: 100vh;
    
}

#viewerImage {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
}

@media (max-width: 1000px) {
    body {
        margin: 5px 10px;
    }

}
