body {
    font-family: Arial, sans-serif;
    margin: 15px 200px;
    margin-bottom: 50px;
}

.dark-mode {
    background-color: #1c1c1c;
    color: #fff;
}

.dark-mode .card {
    background-color: #222;
    color: #fff;
}

.dark-mode .btn-dark {
    background-color: #444;
}

.dark-mode .modal-content {
    background-color: #222;
    color: #fff;
}

.dark-mode .modal-content input {
    background-color: #333;
    color: #fff;
}

.name-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

@media (max-width: 1000px) {
    body {
        margin: 5px 10px;
    }
}